.side-nav {
    width: 300px;
    background: #007bff;
    height: 100%;
    position: absolute;
    z-index: 2;
    color: #fff;
}
.nav-item .nav-link{
    color:#fff;
} 

.hide-menu {
    position: absolute;
    left:0;
    z-index: 1;
    width: 300px;
    height: 100%;
    -webkit-transform: translate3d(-300px,0,0);
    -moz-transform: translate3d(-300px,0,0);
    -o-transform: translate3d(-300px,0,0);
    -ms-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);      
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.show-menu {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
 }  
  @media screen and (max-height: 450px) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;}
  }